$background: #202225;
$primary: #36393f;
$secondary: #2f3136;
$tertiary: #292b2f;
$tooltip: #18191c;
$icon: #b9bbbe;
$iconhover: #dcddde;
$header-primary: #fff;
$header-secondary: #b9bbbe;
$discord: #5865f2;
$success: #3ba55d;
$danger: #ee4e4e;
$muted: #72767d;
$messageinput: #40444b;

$scrollbar-thin-thumb: #202225;
$scrollbar-thin-track: transparent;
$scrollbar-auto-thumb: #202225;
$scrollbar-auto-track: hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%);
$scrollbar-auto-scrollbar-color-thumb: #202225;
$scrollbar-auto-scrollbar-color-track: #2f3136;
$elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);

.bg-discord {
    background-color: $discord;
}